# Database connection URL (e.g., postgres://user:pass@localhost:5432/dbname)
DATABASE_URL=your_database_url_here

# Use SSL for database connection? (true/false)
DB_SSL=false

# Automatically synchronize database schema? (true/false)
DB_SYNCHRONIZE=false

# Automatically load entities in the project? (true/false)
DB_AUTOLOAD_ENTITIES=true

# Secret key for JWT authentication
JWT_SECRET=your_jwt_secret_here

# API key for GROQ
GROQ_API_KEY=your_groq_api_key_here

# Server port
PORT=3000